@{
    ViewBag.Title = "Home Page";
}

<body style=" background-image: url(/images/bg1.jpg);
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 100%;">


    <h2 style="color:crimson"> Meeting Management System </h2>   <br><br>
    <h3 style=" color:navy">

       
    </h3>
</body>