
@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<body style=" background-image: url(/images/bg1.jpg);
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 100%;">
    <style>
        body {
            background-color: #080710;
        }

        .background {
            width: 430px;
            height: 920px;
            position: absolute;
            transform: translate(-50%,-50%);
            left: 50%;
            top: 50%;
        }

        form {
            height: 380px;
            width: 400px;
            background-color: black;
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
            border-radius: 10px;
            border: 2px solid rgba(255,255,255,0.1);
            box-shadow: 0 0 40px rgba(8,7,16,0.6);
            padding: 50px 35px;
        }

            form * {
                font-family: 'Poppins',sans-serif;
                color: white;
                letter-spacing: 0.5px;
                outline: none;
                border: none;
            }

            form h3 {
                font-size: 32px;
                font-weight: 500;
                line-height: 42px;
                text-align: center;
            }

        label {
            display: inline;
            margin-top: 0px;
            padding-left: 12px;
            font-size: 14px;
            font-weight: 500;
        }

        input {
            display: block;
            height: 50px;
            width: 80%;
            background-color: cornflowerblue;
            border-radius: 3px;
            padding: 10px 10px;
            margin-top: 8px;
            margin-left: 20px;
        }
    </style>

    @using (Html.BeginForm())
    {

        <table>
            <tr>
                <td>Enter Current password</td>
                <td><input type="text" id="oldpass" name="oldpass" /></td>
            </tr>
            <tr>
                <td>Enter New Password</td>
                <td><input type="text" id="newpass" name="newpass" /></td>
            </tr>
            <tr>
                <td>Confirm New Password</td>
                <td><input type="text" id="confirmpass" name="confirmpass" /></td>
            </tr>
            <tr>
                <td colspan=6>
                    <input type="submit" value="Update Password" onclick="return clientvalidate()" style=" width: 100%;
            background-color: #ffffff;
            color: #080710;
            padding: 15px 0;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
            margin-top:30px" />
                </td>
            </tr>
            <tr style="color:red;font-weight:bold">
                @ViewBag.error
            </tr>
        </table>
        <br />


        <br />

        <br />
        <br />
    }


</body>
<script type="text/javascript">
        function clientvalidate() {
            if (document.getElementById("oldpass").value == "") {
                alert("Please provide old password");
                return false;
            }
            else if (document.getElementById("newpass").value == "") {
                alert("Please provide New Password");
                return false;
            }
            else if (document.getElementById("confirmpass").value == "") {
                alert("Please provide Confirm Password");
                return false;
            }
            else {
                return true;
            }
        }
</script>






